@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

:root {
	--bg-color: #20232a;

	--red: #df2935;
	--green: #86ba90;
	--yellow: #f5f3bb;
	--orange: #dfa06e;
	--brown: #412722;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	font-family: "Cutive Mono", monospace;
	font-weight: 400;
	font-style: normal;
}
.stopwatch {
	background: var(--brown);
	padding: 1.2em;
	border-radius: 1em;
}
#time-display {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 0.5vh;
	border: 1px solid gray;
	padding: 0;
	background: black;
}

#time-display span {
	border: 1px solid black;
	background: var(--brown);
	color: var(--yellow);
	padding: 0.1em;
	margin: 0;
}


#start {
	background-color: green;
	color: white;
}

#stop {
	background-color: red;
	color: white;
}

#time-display {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flip {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 80px;
	margin: 0 5px;
	perspective: 1000px;
}

.digit-top,
.digit-bottom {
	display: block;
	width: 100%;
	height: 50%;
	backface-visibility: hidden;
	font-size: 3rem;
	font-family: monospace;
	text-align: center;
}

.digit-top {
	position: absolute;
	top: 0;
	transform-origin: bottom;
	background: #333;
	color: white;
	border-bottom: 2px solid #222;
	border-radius: 4px 4px 0 0;
	line-height: 80px;
}

.digit-bottom {
	position: absolute;
	bottom: 0;
	transform-origin: top;
	background: #333;
	color: white;
	border-radius: 0 0 4px 4px;
	line-height: 0px;
}

#colon {
	font-size: 3rem;
	padding: 0 10px;
	color: white;
}

.flip-change .digit-top {
	animation: flip-top 0.4s ease-out forwards;
	z-index: 1;
}

.flip-change .digit-bottom {
	animation: flip-bottom 0.5s ease-out forwards;
}

@keyframes flip-top {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(-360deg);
	}
}

@keyframes flip-bottom {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0);
	}
}

.buttons {
	text-align: center;
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

button {
	padding: 10px 20px;
	margin: 0 10px;
	font-size: 1rem;
	border: none;
}